.hv-background {
    background:   #dcebfc85;
}
.container-logo{
    align-items: center;
    height: 80px;
    margin: 5px;
}
#logoTec{
    height: 100%;
 }
 input.btn-primary {
    --bs-btn-bg: #304a6e;
    --bs-btn-hover-bg: #668dc0;
    --bs-btn-border-color: none;
    --bs-btn-border-radius: 10.375rem;
    margin-top: 20px;
    
 }
.btn-primary {
    --bs-btn-bg: #304a6e;
    --bs-btn-hover-bg: #668dc0;
    --bs-btn-border-color: none;
    --bs-btn-border-radius: 10.375rem;
    
}
.btn-secondary {
    --bs-btn-bg: #bdd6ff;
    --bs-btn-hover-bg: #ebf2fc;
    --bs-btn-border-color: none;
    --bs-btn-border-radius: 10.375rem;
}
.btn-third{
    --bs-btn-bg: #304a6e;
    --bs-btn-hover-bg: #668dc0;
    --bs-btn-border-color: none;
    --bs-btn-border-radius: 10.375rem; 
    color: #d3d1d1;
    padding: 5px 50px;
    margin: 15px 50px;
    display: inline-table;
    inline-size: -webkit-fill-available;
}  

.style-title {
    font-size: 4.5rem;
}

.style-subtitle{
    font-size: 3.0rem;
    font-family: serif;
}
.style-subtitle1{
    font-family: cursive;;
}

.sub-menu ul{
    display: none;
}
.sub-menu:hover ul{
    display: block;
}
nav a{
    
    font-weight: 600;
    margin-right: 40px;
} 
nav a:hover{
    color: #050202;
    font-family: serif;
}


a{
    color: black;
    text-decoration: none;
}


a {
    text-decoration: none;
    color: #000;
}

.container-login{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.container-login .img{
    margin-bottom: 0px;
    opacity: 0.4;
    background: #00000077 url("/Imagenes/abridora.jpg") top center no-repeat;
    width: 100%;
    height: 90vh;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    
}
.container-login  h1 {
    margin-top:0; 
    text-align: center;
}
.container-login  h5 {
    margin-top:0; 
    text-align: center;
}

.container-login  {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
  font-family: serif;
}

.container-login .container {
    position:relative;
    z-index:2;
    margin: 100px 535px 10px 540px;
    border-radius: 20px;
    background-color: #bdd6ff93;
  }

@media screen and (max-width: 768px) {
  .container-login  {
    padding-top:20px;
    padding-bottom:20px;
  }
}

.g-10 {
  gap: 10px;
}
.footer-login {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #d3d1d1;
    text-align: center;
    font-size: 12px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: serif;
}